<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>付款</title>
</head>
<body>
<form name="alipayment" action="alipay/pay" method="post"
      target="_blank">
    <div class="show" name="divcontent">
        <dl>
            <dt>商户订单号 ：</dt>
            <dd>
                <input name="WIDout_trade_no" />
            </dd>

            <dt>订单名称 ：</dt>
            <dd>
                <input id="WIDsubject" name="WIDsubject" />
            </dd>

            <dt>付款金额 ：</dt>
            <dd>
                <input id="WIDtotal_amount" name="WIDtotal_amount" />
            </dd>

            <dt>商品描述：</dt>
            <dd>
                <input id="WIDbody" name="WIDbody" />
            </dd>

            <dt></dt>
            <dd>
						<span class="new-btn-login-sp">
							<button class="new-btn-login" type="submit"
                                    style="text-align: center;">付 款</button>
						</span> <span class="note-help">如果您点击“付款”按钮，即表示您同意该次的执行操作。</span>
            </dd>
        </dl>
    </div>
</form>
</body>
</html>