<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>退款查询</title>
</head>
<body>
<form name="traderefundquery"
      action="alipay/refundQuery" method="post"
      target="_blank">
    <div id="body4" class="tab-content" name="divcontent">
        <dl class="content">
            <dt>商户订单号 ：</dt>
            <dd>
                <input id="WIDRQout_trade_no" name="WIDRQout_trade_no"/>
            </dd>
            <dt>支付宝交易号 ：</dt>
            <dd>
                <input id="WIDRQtrade_no" name="WIDRQtrade_no"/>
            </dd>
            <dt>退款请求号 ：</dt>
            <dd>
                <input id="WIDRQout_request_no" name="WIDRQout_request_no"/>
            </dd>
            <dt></dt>
            <dd id="btn-dd">
						<span class="new-btn-login-sp">
							<button class="new-btn-login" type="submit"
                                    style="text-align: center;">退 款 查 询</button>
						</span> <span class="note-help">商户订单号与支付宝交易号二选一，如果您点击“退款查询”按钮，即表示您同意该次的执行操作。</span>
            </dd>
        </dl>
    </div>
</form>
</body>
</html>